WHATSAPP_PHONE_NUMBER_ID=1231168133417759
WHATSAPP_BUSINESS_ACCOUNT_ID=1314039240559477
WHATSAPP_ACCESS_TOKEN=EAAWdfnqx1qkBStFpbtDbDSzVQKdUKUnFZB51Tldg6ZBiGAV77gowMTZBy8vZB5tNrxV7Fyf8mhDEMHXQnJaikox82gboGZBFQ0LReNH03ViNmv38fkZBhd764sSfThnXncFEaRLa0WSKkLC2Sy1gzSurE1qZBYPaRlDKhKqZCvhSFy58NtjbeXnXvpEgLeo9kvbjZA9kwko6u5lYp1DlDHALCBiZCJD0l0FpXG2y30my8woNDf0vbF1UFxreGfj8eoRgg5eolgVMyiEgxO89GjbhwQKyqI
WHATSAPP_TEST_RECIPIENT=
WHATSAPP_GRAPH_API_VERSION=v23.0
WHATSAPP_TEMPLATE_NAME=hello_world
WHATSAPP_TEMPLATE_LANGUAGE=en_US

WHATSAPP_VERIFY_TOKEN=replace-with-a-random-secret
WHATSAPP_APP_SECRET=replace-with-your-meta-app-secret
WEBHOOK_PORT=3001