/*---------------------------
	Fonts
----------------------------*/

// fonts
$base-font-size: 15;
$base-font: "Inter",
sans-serif;
$heading-font: "Plus Jakarta Sans",
sans-serif;



// color
$dark-gray: #121725; //
$body-color: #687693;
$white: #fff;
$light: #BCC0CB; //
$black: #000;
$small-black: #333;
$light-grern: #66E0A3; //

$theme-primary-color: #3B8F63; //
$theme-primary-color-s2: #66E0A3;
$theme-primary-dark: #2A6B4A;
$body-bg-color: #fff;
$section-bg-color: #fafbfe;
$text-color: #565656; //
$heading-color: $dark-gray;
$border-color: rgba(255, 255, 255, 0.06); //
$border-color-s2: rgba(75, 72, 72, 0.14); //
$border-color-s3: #232222; //